@media (max-width: 1440px) {
    #about {
        padding: 180px 150px;
    }

    #projects {
        padding: 0px 150px;
    }
}

@media (max-width: 1024px) {
    #about {
        width: 100%;
        padding: 180px 100px;
        flex-direction: column !important;
        gap: 50px;
    }

    #projects {
        padding: 0px 100px;
    }

    .blockAbout {
        max-width: 100% !important;
    }

    .blockAbout a {
        width: 100% !important;
        display: flex;
        justify-content: flex-end;
    }
}

@media (max-width: 1024px) {
    #about { 
        padding: 130px 50px;
    }

    #projects {
        padding: 0px 50px;
    }
}

@media (max-width: 500px) {
    #about { 
        padding: 100px 15px;
    }

    #projects {
        padding: 0px 15px;
    }

    .cardsProjects {
        width: 99% !important;
    }
}
